<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<%= link_to 'New Product', new_product_path %>

<!-- renders a helpful message with numbers of displayed vs. total entries -->

<h1>Products <small><%= page_entries_info @products %></small></h1>

<hr/>

<%= render @products %>

<%= paginate @products %>